header.flex.justify-between
  div
    h1.text-4xl.mb-2 #{basics.name}
    h2.text-gray-400 #{basics.label}

  ul.flex.flex-col
    each contact in contacts
      li
        a(href=contact.url)
          i(class=contact.icon)
          | &nbsp;#{contact.label}

section.mt-10
  h3.text-2xl.uppercase.tracking-widest.mb-4 Summary

  p #{basics.summary}

section.mt-10
  h3.text-2xl.uppercase.tracking-widest.mb-4 Skills

  ul
    each skill, idx in skills
      - var skill_nb = skill.replace(/\s/g, "&nbsp;")
      span !{skill_nb}
      if idx < skills.length - 1
        span(aria-hidden="true" class="font-thin mx-3") &nbsp;|
        span &#32;

section.mt-10
  h3.text-2xl.uppercase.tracking-widest.mb-4 Experience

  .jobs
    each job in jobs
      .mb-4
        .flex.justify-between
          .flex.leading-7.gap-x-2
            h4(class="text-lg font-medium print:max-w-[15rem]") #{job.name}
            span •
            span.text-gray-400 #{job.position}
          div(style="font-feature-settings:'tnum'")
            span #{job.started}
            span.inline-block.mx-2 &mdash;
            span #{job.finished}

        .text-justify
          each highlight, idx in job.highlights
            | !{highlight}
            if idx < job.highlights.length - 1
              span(aria-hidden="true" class="font-thin mx-3") &nbsp;|
              span &#32;

      if job["page_break"]
        .break-after-page
